<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Панель Администратора</a>
                </li>
            {% endif %}
        </ul>
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-info float-right">Выйти с аккаунта</button>
                </a>

            {% else %}
                <a href="{% url 'reg' %}">
                    <button type="button" class="btn btn-info float-right mr-2">Зарегистрироваться</button>
                </a>
                <a href="{% url 'login' %}">
                    <button class="btn btn-info float-right">Войти</button>
                </a>
            {% endif %}
        </div>

    </div>
</nav>