{% if user.is_authenticated %}
{% if is_paginated %}
    {% if page_obj.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center my-3">
                {% if page_obj.has_previous %}
                    <li><a class="btn btn-outline-warning" href="?page={{ page_obj.previous_page_number }}">❮</a>
                    </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item"><a class="btn btn-info disabled">{{ p }}</a></li>
                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li class="page-item"><a class="btn btn-warning" href="?{{ s }}page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="btn btn-outline-warning"
                                             href="?{{ s }}page={{ page_obj.next_page_number }}">❯</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endif %}
{% else %}
{% endif %}
